# local package
-e .

# external requirements
click
Sphinx
coverage
flake8
python-dotenv==1.0.1

# Additions
flask-cors==5.0.0
flask-pymongo==3.0.1
lime==0.2.0.1
loguru==1.2.0
mlflow==2.20.1
nltk==3.9.1
python-dotenv==1.0.1
seaborn==0.13.2
numpy==2.0.2
pandas==2.2.3
tensorflow==2.18.0